:root {
  --circle-size: 300px;
  --circle-min-size: 180px;
  --circle-two-size: 280px;

  --navbar-size: 64px;
  --navbar-logo-size: 44px;
  --navbar-title-font-size: 24px;
  --navbar-back-button-width: 100px;
  --navbar-back-button-height: 26px;

  --primary-color-1: #392213;
  --primary-color-2: #9e724e;
  --primary-color-3: #ffa515;
  --primary-color-4: #ff0000;
  --primary-color-5: #fff3b5;
  --primary-color-6: #cccccc;
}

@font-face
{
	font-family: "League Spartan";
	src: url(../fonts/League_Spartan/static/LeagueSpartan-Regular.ttf);
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  background: var(--primary-color-3);
  color: #f9f9f9;
}

.content-right {
  display: flex;
  align-items: center;
  width: 500px;
  right: 0;
}

#image-right {
  background-image: url(../assets/icon-dogcat.webp);
  background-size: 256px;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 84px;
  width: 256px;
}

.navbar-cont {
  display: inline-flex;
  align-items: center;
  align-content: center;
  height: 64px;
}

.navbar-burger {
  height: 45px;
  width: 45px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 5px;
  background-image: url(../assets/burger.webp);
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-logo {
  width: var(--navbar-logo-size);
  height: var(--navbar-logo-size);
  background-image: url(../assets/logo.webp);
  background-size: var(--navbar-logo-size);
  background-repeat: no-repeat;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-menu>button {
  background: transparent;
  border: none;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

.navbar-title {
  display: inline;
  margin: 0;
  font-size: 24px;
  color: black;
  font-weight: bolder;
  margin-left: 5px;
}

.navbar-menu-header {
  background-color: var(--primary-color-1);
  width: 100%;
  text-align: center;
  color: white;
}

.header-icon {
  margin: 10px auto 0px auto;
  background-image: url(../assets/icono_admin.webp);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--primary-color-5);
  visibility: hidden;
  display: none;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
  display:flex;
}


body.open .navbar-menu>button {
  color: rgb(0, 0, 0);
  border-radius: 0px;
  padding: 0 0px;
  height: 40px;
  width: 100%;
  text-align: left;
  border-color: var(--primary-color-2);
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bolder;
  padding-left: 20px;
  font-size: 1em;
  cursor: pointer;
}

body.open .navbar-menu>button:hover {
  background-color: rgba(0, 0, 0, 0.1);

}

body.open .navbar-menu>button:focus {
  background-color: rgba(0, 0, 0, 0.1);

}

.submenu > a{
  font-size: large;
  padding-left: 20px;
}
.submenu {
  color: black;
  font-weight: bold;
}

.submenu > button {
  background: transparent;
  color: rgb(0, 0, 0);
  border-radius: 0px;
  padding: 0 0px;
  height: 40px;
  width: 100%;
  text-align: left;
  border-color: var(--primary-color-2);
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bolder;
  padding-left: 40px;
  font-size: 1em;
  cursor: pointer;
}

.submenu > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.submenu > button:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

#button-add,
#button-back {
  cursor: pointer;
  border: none;
  margin-left: 10px;
}

#button-add {
  font-weight: bolder;
  color: white;
  background: red;
  border-radius: 5px;
  height: 24px;
  line-height: 24px;
  width: fit-content;
}

#button-back {
  font-weight: bolder;
  color: white;
  background: black;
  border-radius: 5px;
  height: 24px;
  width: 80px;
  line-height: 24px;
  min-width: 80px;
}

body {
  font-family: "League Spartan";
  color: brown;
  background-color: white;
  overflow: hidden;
}

.container {
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 64px;
}

.container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  transform: rotate(0deg);
  z-index: -1;
}

.action-edit, .action-delete {
  display: block;
  color: white;
  width: 100px;
  height: 25px;
  padding-left: 20px;
  cursor: pointer;
}

.action-edit {
  border: none;
  background-color:var(--primary-color-2);
  margin: 5px auto 5px auto;
}

.action-delete {
  border: none;
  background-color:var(--primary-color-4);
  margin: 5px auto 5px auto;
}

.icon-edit {
  background: url(../assets/icono_editar.webp) no-repeat;
  background-size: 20px;
  float:left;
  width: 20px;
  height: 20px;
}

.icon-delete {
  background: url(../assets/icono_eliminar.webp) no-repeat;
  background-size: 15px;
  background-position: center;
  float:left;
  width: 20px;
  height: 20px;
}

table {
  border-collapse: collapse;
  margin: 0px auto 0px auto;
  border-right: 1px solid rgba(0, 0, 0, 0.20);
  caption-side: top;
  width: 100%;
  height: 100%;
}

th,
td {
  text-align: center;
  background-color: white;
  color: black;
}

th {
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-style: inset;
  color: black;
  font-weight: normal;
}

td {
  border-left: 1px solid rgba(0, 0, 0, 0.20);
}

caption {
  color: black;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}

#close-dialog {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#upload-photo {
  display:none;
}

.thumbnail {
  width: 100px;
  height: 100px;
}

#imagen {
  background-color: black;
  color: white;
  cursor: pointer;
}

#button-add-new {
  margin-top: 10px;
  background: transparent;
  border: none;
  background-color: red;
  height: 30px;
  width: 60px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}

.form-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  width: 100%;
}

.input {
width: 150px;
float:right;
height: 30px;
line-height: 30px;
}

#valDes{
width: 150px;
float:right;
height: 130px;
line-height: 30px;
}

.input-item {
  width: 100%;
  height: 100px;
}

.input-form-right {
  float:right;
  width: 100%;
  height: 100%;
  white-space:pre-line;
}

.modal-content
{
	margin: 10% auto auto auto;  /*15% from the top and centered */
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,1.0);
	text-align: center;
	width: 50%; /* Could be more or less, depending on screen size */
	box-shadow: -5px 10px 20px 1px rgba(0,0,0,0.25), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
  height: auto;
  padding: 20px;
  color: black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 16384; /* Sit on top */
  left: 0px;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable vertical scroll if needed */
  overflow-x: hidden; /* Hidden horizontal scroll */
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0px;

  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}